{
    "cmake.sourceDirectory": "${workspaceFolder}/src",
    "C_Cpp.intelliSenseEngineFallback": "Default",
    // Platform-specific IntelliSense settings for Windows
    "[cpp]": {
        "editor.defaultFormatter": "ms-vscode.cpptools"
    },
    "C_Cpp.intelliSenseEngine": "default"
}