name: Run TauDEM Tests

on:
  push:
    branches: [ "Develop" ]
  pull_request:
    branches: [ "Develop" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -f Dockerfile-run.tests -t taudem-linux-run-tests .

    - name: Run tests
      run: |
        docker run --rm -v $(pwd):/app --user taudem-docker taudem-linux-run-tests /bin/bash -c "
          export PATH=/usr/local/taudem:\$PATH && export TAUDEM_PATH=/usr/local/taudem && export OMPI_MCA_rmaps_base_oversubscribe=1 && cd /app && make dk-run-tests
        "
